body {
    margin: 0;
    padding: 0;
    background-color: #ffffff; /* Đảm bảo nền trắng */
    color: #333333; /* Chữ màu xám đậm */
    font-family: sans-serif;
}

header {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #2c3e50; /* Cho header một màu nền đậm để dễ nhận biết */
    color: white;
    text-align: center;
}

.highlight {
    color: #3498db;
}